<div id="footer">
	
	
	
<div id="footer-wrapper" class="site-full">
<div id="footer" class="site">
            
       <div id="vma-logo" class="left"></div>
          
          <div class="col35 left">
           <div class="col left">
             	<p>Utah Department of Health</br>
            	<p>550 North Temple #202<br />
				 Salt Lake City, UT 84114</p>
				 Current Release: {{release}} 
             </div>
             
             <div class="col right">
             	<p>Phone: (801) 538-0000<br />
             	Fax: (801) 538-0001<br />
             	TDD: (801) 538-0002<br />
             	Email: uper@health.utah.gov</p>
             </div>
             
             <div class="clearfix"></div>
          </div>
          
          <div class="col20 right">
          <ul>	
				<li><a href="http://www.utah.gov/main/index">Utah.gov&nbsp;Home</a></li>
				<li><a href="http://www.utah.gov/disclaimer.html">Utah.gov&nbsp;Terms&nbsp;of&nbsp;Use</a></li>
				<li><a href="http://www.utah.gov/privacypolicy.html">Utah.gov&nbsp;Privacy&nbsp;Policy</a></li>
				<li><a href="http://www.utah.gov/accessibility.html">Utah.gov&nbsp;Accessibility&nbsp;Policy</a></li>
				<li><a href="http://www.utah.gov/translate.html">Translate&nbsp;Utah.gov</a></li>
				
			</ul>
         </div>
            
        		
          <div class="clearfix"></div>
		</div><!--end of footer-->
	</div><!--end of footer-wrapper-->


</div>