<div id="header-container" class="site-full">
	<div id="header-wrapper" class="site-full">
		<div id="header" class="site">

	  	
			<div class="col" id="uper-logo"/>
			<div class="col20 right" id="doh-logo"/>
		 	<br>
			
		</div><!--end of header-->
	</div><!--end of header-wrapper-->
	
	<div class="admin site-full">
 		<div class="site">
 		 <a href="/uper/logout" active-page="doplink" curtab="activeTab">Log Out</a> 
 		 <a href="#/patientDetail" active-page="doplink" curtab="activeTab">Patient</a> 
 	 	 <a href="#/adminMenu"  active-page="doplink" curtab="activeTab">Reports</a> 
 	 	 <a href="#/userList"  active-page="doplink" curtab="activeTab">User Admin</a> 
 	 	</div> 
   </div> <!--end of menu-->

</div>
 
	
	
 
 

 


	
	 
	
 

	 